<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'inmakesprojectapp:allMovieCat' %}">Home</a>
        </li>


        {% if user.is_authenticated %}

        <li class="nav-item">
          <li><a class="nav-link"  href="{% url 'credential:display_user' username_id=user.id %}"><i class="fa-solid fa-user"></i>hello{{user.username}}</a>
      </li>
         <li class="nav-item">
          <li><a class="nav-link" href="/add/">Add Movies</a>
      </li>

         <li class="nav-item">
        <li> <a class="nav-link" href="credential/logout">Logout</a>
      </li>
           <li class="nav-item">
        <li> <a class="nav-link" href="{% url 'inmakesprojectapp:user_movie' %}">uploads</a>
      </li>

        {% else %}

           <li class="nav-item">
        <li><a class="nav-link"  href="/credential/registerationn">Register</a>
      </li>
           <li class="nav-item">
        <li><a class="nav-link" href="/credential/loginuser">Login</a></li>
        {% endif %}
        <li class="nav-item dropdown {% if 'inmakesprojectapp' in request.path %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
            categories
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/thriller">Thriller</a></li>
            <li><a class="dropdown-item" href="/horror">horror</a></li>
            <li><a class="dropdown-item" href="/comedy">comedy</a></li>
          </ul>

        </li>

      </ul>
      <form class="d-flex" action="{% url 'search_app:SearchResult' %}" method="get" >
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search" name="q" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="fa-brands fa-searchengine"></i>Search</button>
      </form>
    </div>
  </div>
</nav>


